* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  background-color: #2f68ce;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-18 {
  font-size: 18px;
}

.font-size-20 {
  font-size: 20px;
}

.font-size-24 {
  font-size: 24px;
}


.font-size-64 {
  font-size: 64px;
}

.font-weight-bold {
  font-weight: bold;
}

.font-weight-lighter {
  font-weight: lighter;
}

.box-shadow-white {
  box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.4);
}

.error-txt {
  display: inline-block;
  margin-top: 5px;
  font-size: 14px;
  color: #ffff00;

}

.loader {
  width: 100%;
  height: 100px;
  position: relative;
}

.loader > .img {
  position: absolute;
  left: 50%;
  transform: translateX(-60px);
  width: 120px;
  height: 100%;
  overflow: hidden;
  animation: widthFrame 500ms forwards infinite;

}

.loader > .img > img {
  width: 100px;
  height: 100px;
}

@keyframes widthFrame {
  0% {
    width: 0;
  }

  100% {
    width: 120px;
  }
}


